<% for user in get_all_users(events) %>
	<% @i = 0 %>
	<tr>
		<th><%= user.profile.full_name %></th>
		<% for event in events %>
			<td><%= UserEvent.where(event_id: event.id, user_id: user.id).first.join_status ? (@i += 1; "â—") : "" %></td>
		<% end %>
		<td><%= @i %></td>
	</tr>
<% end %>
