<% for ue in UserEvent.joined_students(events) %>
	<% @i = 0 %>
	<tr>
		<th><%= ue.user.profile.full_name.upcase %></th>
		<% for event in events %>
      <% if userevent = UserEvent.where(event_id: event.id, user_id: ue.user_id).first %>
        <td><%= userevent.join_status ? (@i += 1; "â—") : "" %></td>
      <% else %>
        <td></td>
      <% end %>
		<% end %>
		<td><%= @i %></td>
	</tr>
<% end %>
