<h1>Participants</h1>

<table class="bordered" id="participants_table">
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>Full Name</th>
			<th>National Identity</th>
			<th>Contact Number</th>
			<th>Email Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @userevents %>
	</tbody>
</table>

<%= link_to "Back", :back %>
