<h1>Welcome to BNS Home page</h1>

<p>Students are required to <%= link_to "Sign In", new_student_session_path %>
		in order to join BNS programmes.</p>

<br />

<p>No account? Please <%= link_to "Register", new_student_registration_path %></p>
