<div id="notice" style="display: none;"></div>

<% content_for :head do %>
	<%= stylesheet_link_tag "event" %>
<% end %>

<table class="bordered" id="event_table">
	<thead>
		<tr>
			<%= content_tag :th, "No.", 
					{ abbr: :Number, 
						scope: :col, 
						colspan: admin_signed_in? ? 2 : 1 } %>
			<th scope="col" abbr="Date">Event Date</th>
			<th scope="col" abbr="StartT">Start Time</th>
			<th scope="col" abbr="EndT">End Time</th>
			<th scope="col" abbr="School">School Name</th>
			<th scope="col" abbr="AIC">Agency In Charge</th>
			<th scope="col" abbr="StartP">Start Place</th>
			<th scope="col" abbr="EndP">End Place</th>
			<th scope="col" abbr="Allowance">Allowance Claim</th>
			<th scope="col" abbr="Seats">Seats Avail. / Total</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<%= render @events %>
	</tbody>
</table>
