<% if student_signed_in? %>
	<%= button_to "#{@action.capitalize} Event", 
			@action == "quit" ? quit_event_path : join_event_path,
			{ disabled: @event.seats_available == "FULL" && @action == "join" } %>

<% elsif admin_signed_in? %>
	<p>
		<div style="float: left; width: auto;">
			<%= button_to "Edit event", edit_event_path(@event), method: :get %>
		</div>
		<%= button_to "Delete event", event_path(@event), method: :delete %>
	</p>
<% end %>
