<div id="notice" style="display: none;"></div>
<table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="100%" cellpadding="3" cellspacing="3">
	<thead>
		<td>No.</td>
		<td>Event Date</td>
		<td>Start Time</td>
		<td>End Time</td>
		<td>School Name</td>
		<td>Agency in Charge</td>
		<td>Start Place</td>
		<td>End Place</td>
		<td>Seats Avail. / Total</td>
	</thead>
	<tbody>
		<%= render @events %>
	</tbody>
</table>
