<% for user in get_all_users(events) %>
	<tr>
		<th><%= user.profile.full_name %></th>
		<% for event in events %>
			<td><%= event.users.include?(user) ? "â—" : "" %></td>
		<% end %>
	</tr>
<% end %>
