<% for user in get_all_users(events) %>
	<% @i = 0 %>
	<tr>
		<th><%= user.profile.full_name %></th>
		<% for event in events %>
			<td><%= event.users.include?(user) ? (@i += 1; "â—") : "" %></td>
		<% end %>
		<td><%= @i %></td>
	</tr>
<% end %>
