<h1 id="title">Recent Events</h1>

<% if admin_signed_in? %>
	<%= form_tag show_participants_events_path do %>
		<%= render 'event_table' %>
		<div class="form-actions">
			<%= submit_tag 'Show Participants', class: :"btn btn-primary" %>
		</div>
	<% end %>
<% else %>
	<%= render 'event_table' %>
<% end %>
