<h1>Profile</h1>

<ul class="nav nav-tabs" id="profile-nav">
	<li> 
		<a href="#profile" data-toggle="tab">Student Profile</a>
	</li>

	<li>
		<a href="#login" data-toggle="tab">Login Settings</a>
	</li>
</ul>

<div class="tab-content" id="profile-content">
	<div class="tab-pane" id="profile">
		<%= render "form" %>
	</div>

	<div class="tab-pane" id="login">
		<%= render template: "devise/registrations/edit" %>
	</div>
</div>

<script>
	$('#profile-nav a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})	
	$(function () {
		$('#profile-nav a[href="#<%= params[:tab] || "profile" %>"]').tab('show');
	})
</script>
