<h1>Profile</h1>
<h3>Student Information</h3>

<%= render "form" %>

<h3><%= link_to "Edit Education Profile", profile_education_profile_index_path %></h3>
<h3><%= link_to "Edit Login Information", edit_student_registration_path %></h3>
